.*

!.yaml
!.py
!.md
!.txt
!.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo

# MLflow experiments
scripts/pretrain/experiments/

# Wandb runs
tasks/scripts/wandb/
scripts/classification/wandb







